@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-family: "Work Sans", sans-serif;
	scroll-behavior: smooth;
	--text-light-color: white;
	--text-title-color: #2d2d2d;
	--text-secondary-color: #808080;
	--brand-color: #ea9448;
	--green-color: #7c7830;
}

img {
	width: 100%;
	display: block;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--text-light-color);
}

.wrapper {
	width: 100vw;
	position: relative;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding-right: 24px;
	padding-left: 24px;
}

@media (width > 768px) {
	.container {
		padding-right: 32px;
		padding-left: 32px;
	}
}

@media (width > 768px) {
	.container {
		padding-right: 32px;
		padding-left: 32px;
	}
}

@media (width >= 962px) {
	.container {
		padding-right: 40px;
		padding-left: 40px;
	}
}

@media (width > 1200px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
}
